<%= render("tab") %>

<% if !@articles.nil? && @articles.any? %>
    <div id="articles">
        <% @articles.each do |article| %>
            <%= render("articles/article", :article => article) %>
        <% end %>
    </div>
<% elsif !@comments.nil? && @comments.any? %>
    <div id="comments">
        <% @comments.each do |comment| %>
            <%= render("articles/comment", :comment => comment) %>
        <% end %> 
    </div>
<% else %>
    <div class="alert alert-primary my-3 mx-3" role="alert">
        Nothing here
    </div>   
<% end %>