/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */
@import 'bootstrap';
@import 'variables.scss';

.btn-outline-info {
    @include button-outline-variant($colorCyan, $colorWhite, lighten($colorCyan,5%), $colorCyan);
}
.btn-primary {
    @include button-variant($colorCyan, darken($colorCyan, 7.5%), darken($colorCyan, 10%), lighten($colorCyan,5%), lighten($colorCyan, 10%), 
    darken($colorCyan,30%));
}



body {
    @include media-breakpoint-down(md) {
        font-size: 0.75rem !important;
    }
}

.row {
    @include media-breakpoint-down(md) {
    }
}

.container {
    @include media-breakpoint-down(md) {
        margin-top: 15px;
        padding: 0 5px;
    }
}

.articles {
    margin: 1em 0;
    transition: border-color 1s;
    border: 1px solid #fff;
    .article-body {
        word-break: break-word;
        justify-content: center;
    }
    .article-img {
        img {
            width: 80px;
            height: 60px;
        }
    }
    .article-title {
        max-height: 2.25rem;
        overflow-x: hidden;
        display: block;
        margin: 0;
        text-decoration: none;
        color: #000;
    }
    .article-author {
        color: $colorGrey;
    }
    &:hover {
        border-color: $colorGrey;
    }
    a {
        text-decoration: none;
    }
    .article-action {
        position: absolute;
        bottom: 0;
        a {
            color: $colorRed;
        }
    }
}
.article-vote, .comment-action {
    a {
        color: $colorGrey;
        transition: 1s color;
        text-decoration: none;
        &:hover, &.active {
            color: $colorRed;
        }
    }
    .vote-count {
        font-weight: bold;
        text-align: center;
    }

}
.comment-action > * {
    padding-right: 1rem;
}
.page-item {
    .page-link {
        color: $colorCyan;
    }
    &.active  .page-link {
        color: $colorWhite;
        background-color: $colorCyan;
        border-color: $colorCyan;
    }
}

