// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
    margin: 1em 0;
    .article-img {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .article-body {
        word-break: break-word;
        justify-content: center;
    }
    .article-title {
        margin: 0;
        a {
          text-decoration: none;
          color: #000;
        }
    }
    .article-author {
        color: rgb(120, 124, 126);
    }
}